# First notebook
This is my first Jupyter notebook

# Week One

ctrl + enter = run cell
Shift + enter = run cell and move to the next cell
Alt + enter = run cell and create new cell below

test
### heading 
# title
## sub title
#### sub heading

### numbered list
1. item 1
1. item 2
1. item 3
    1. item 3.1
    1. Item 3.2 
    
### Dot points
* point 1
* point 2
    *subpoint 2
* point 3

### emphasis
*Italic*
**bold**

### line
***

### math symbol
$x=5^2$

In [2]:
#print is used to print text or values  of a variable
# to look up what print function does ( using ? symbol). this can be applied to any python function
?print

In [3]:
print('Hello world from Jupyter notebook')
print("Hello world from Jupyter notebook")

Hello world from Jupyter notebook
Hello world from Jupyter notebook

In [6]:
#Assigning a value into a variable. In this case, alphanumeric characters:
first_variable = 'Hello world from Jupyter notebook'
print(first_variable)
second_variable = "Hello world from Jupyter notebook"
print(second_variable)

Hello world from Jupyter notebook
Hello world from Jupyter notebook

In [8]:
print("hello world... Dylan Rohan")

hello world... Dylan Rohan

"A variable is a container that holds data. The main purpose of a variable is to remember a value from one part of the code so the value can be used in another part of the code."

in R you use <-
in python you use the = sign

In [9]:
height = 4
height

4

Naming conventions indicate characters a-z, 0-9, and underscores can be used. But case matters and you **cannot** start with a number.

There are a few words (reserved words) python uses already that cannot be used:
and,	del,	from,	None,	try,
as,	 elif,	global,	nonlocal,	True,
assert,	else,	if,	not,	while,
break	except,	import,	or,	with,
class,	False,	in,	pass,	yield,
continue,	finally,	is,	raise,	return,
def,	for,	lambda,

In [11]:
age = 24
print (age)

24

In [18]:
#data types:
#integer (int)
days_of_week = 7

# Float / decimal 
pi = 3.14159

#Boolean bool
is_my_first_variable = False

#String singe or double quotations
name = "Dylan"

#Check type with:
type(days_of_week)

int

Below includes exercises from the readings (chapter 2 of An introduction of python and computing programs)

In [20]:
#basic intgral calculations
3+5

8

In [22]:
3-2

1

In [24]:
6*7

42

In [25]:
8/4

2.0

In programming number constants are called **literals**, operators (+, -, x, /) are called **operands**. Finding the value of the experssion is called the **evaluation** of the expression

Plus and minus hae the same priority so python reads from left to write in simple composite functions:

In [27]:
3+2-5+1
#(3+2)
#5-5
#0+1

1

Not all composite functions have equal priority components.
This is called **operator precedence**. Function calls are dealt with first, then Power functions come before Multiplication and division which in-turn comes before addition and subtraction. Use brackets to specify order.

In [30]:
3+2*5-4
#2*5
#3+10
#13-4

9

In [32]:
# powers are indicated by **
5**2

25

In [37]:
#Binary operator:
(3+2)-(5-4)

4

In [38]:
#unary operator (negation)
-(2*5)

-10

In [44]:
5/2

2.5

In [45]:
5%2 #modulo

1

### floating point expressions
Calculations with decimals/ floats

In [47]:
5.0/2

2.5

In [49]:
5/2.0

2.5

In [51]:
25**0.5

5.0

If any decimals are present in the expression, the output will also by a float type

Below is a **function call** command.

*type(x)*

In [53]:
float(3)

3.0

In [54]:
int(3.0)

3

In [57]:
3*float(3-2*5+4)**2

27.0

In [59]:
#rounding issues when using int(x)
int(3.9)

3

In [61]:
#use round(x) instead
round(3.9)

4

In [63]:
round(3.33333333, 2)

3.33

In [3]:
# integer division operator
3.0//2

1.0

In [2]:
3.0/2

1.5

In [71]:
#modulo operator 
3.5%2

1.5

In [72]:
#absolute value or magnitude without sign
abs(1)

1

In [74]:
abs(1.0)

1.0

In [76]:
abs(-5)

5

In [78]:
# scientific notation
5E7

50000000.0

In [80]:
5e7

50000000.0

### Identifiers, variables, and assignment
suppose that the annual interest rate of a savings account is 4 %.
To calculate the amount of money in the account after three years, with an initial
sum of 3, 000 dollars is put into the account, the following expression can be used:

In [84]:
3000*1.04**3
#or better still
3000*(1.04**3)

3374.592

suppose that the area of a square is 10 m2. The length of
each edge can be calculated by

In [85]:
10**0.5

3.1622776601683795

In [87]:
round(10**0.5, 2)

3.16

In [89]:
#or
a = 10
w = a**0.5
round(w, 2)

3.16

identifiers are names (categorical) and literals are values (quantitative)

suppose that a ball is tossed up on the edge of a
cliff with an initial velocity v0, and that the initial altitude of the ball is 0 m. The
question is to find the vertical position of the ball at a certain number of seconds t
after the toss. If the initial velocity of 5 m/s and the time is 0.1 s, the altitude can be
calculated by:

In [101]:
v0 = 5
t = 0.1
g = 9.81
h = v0*t-0.5*g*t**2
round(h, 2)

0.45

In [104]:
# mathematical trap
x =1
x = x+1
x

2

In [111]:
#cascade 
a=b=1

In [108]:
a

1

In [109]:
b

1

### Underlying mechanisms
Computers cannot store an infinte number of decimal places, this leads to **rounding off errors**.
computer components are memory, CPU, and devices. CPU carries out computer instructions. 
CPU takes the operand from the memory, evaluates the result with that operand, and then stores the result back in the memory. Each memory unit is capable of storing a finite amount of information. There is an indexed location thats refferd to a the **memory address**. The devices are the things that connect it to reality, keyboards, mouse, monitor, hard disk, etc.

Computers recognise signals as discrete numbers/integers that get processed and returned to us again as physical signals. Devices act as channels between computers and the physical world, a way for discrete variables to be returned as physical signals (sounds, colours, shapes, etc).
Storage units are typically binary. 0 or 1, n basic storage units can lead to 2^n states. 
00, 01, 11, and 10. These can be converted to binary numbers. The order of 0s and 1s has a value so even lots of information can be stored in something like the branches of a probability tree. 
each binary digit (0 or 1) is called a bit, 8 bits is a byte, so a byte can store 2^8 = 256 distinct binary values. Most computers take 8 bytes/ 64 bits as a **word** 
2's complement interpretation is a method of representing negative numbers. You invert the binary string so 1s become 0 and vbise versa and then add 1 to the final digit. A final digit of 1 indicates a negative number.

-13 can be written as 00001101 becomes 11110010, then add 1.
11110011. This way negative numbers can still be stored in 8 bits without needing to add an additional bit representing the positive and negative sign. it saves space.
This way when you add 13 to -13, the sum becomes a 9 bit string which will be intrepreted as 0. The correct answer.

**Floating point numbers** are useful when dealing with sound waves. You split the total number of bits in two parts, one fore the *base number*, and one for the *significant*. It takes the form of scientific notation (baseEsignificant).

Because computers operate on 64bit strings, they cannot output more than that, leading to rounding off errors. Numbers can also be intrepretted as long type which allows large integer values, but not floats. Python settles for 15 decimal places to balance computation time and accuracy.

### Python memory management
To remove identifiers from the bnding table (remove the record of a link between variable and value), use *del x*. Python will also periodically purge unused identifiers. You can locate identifiers (values of objects) with *id x*. Old objects can be rewritten, but they will not rewrite other connections, eg

In [120]:
y=x=1234
x

1234

In [121]:
y=5678
y

5678

In [122]:
x

1234

X is unchanged even though we told python x=y
Each time you reassign an object, you create a new entity in the memory. so if we assign y=1234, it will fix the calculation but the output will be a different 1234 than that of the x. This is not true of smaller integers that are commonly used, these have a preset place as an object in the memory that gets called on instead.

### Python Modules
similar to libraries in Rstudio

In [124]:
import math

In [125]:
math.pi

3.141592653589793

In [126]:
math.e

2.718281828459045

it tells python to use the math library, and then print that identifiers value.

In [131]:
math.pow(2, 5) # 2 to the power of 5

32.0

In [132]:
math.log(1000,10) #base 10

2.9999999999999996

In [135]:
math.log(1000, 2) #base 2

9.965784284662087

In [137]:
math.log(1) # unless told, it uses natural log

0.0

In [139]:
math.log10(1000)

3.0

In [142]:
math. exp(2) # e^x

7.38905609893065

In [144]:
math.sqrt(25)

5.0

In [146]:
math.sin(45) #radians

0.8509035245341184

In [150]:
math.asin(1) #radians

1.5707963267948966

In [151]:
math.degrees(math.sin(45))

48.75318072861148

### Complex numbers and cmath module
Real and imaginary numbers.

In [152]:
import cmath #commands for complex number math

In [153]:
c=1j #j=sqrt(-1)
c

1j

like floats, if complex numbers are in the expression, then the output will be in complx numbers too. even if it is only (x+0j).

In [154]:
a= 1+2j
a

(1+2j)

In [157]:
type (a)

complex

In [162]:
complex(1, 2) #(real, imaginary)

(1+2j)

### Random Module

In [160]:
import random

In [161]:
random.random() #random float between [0.0, 1.0)

0.7966876193101567

In [357]:
random.randint (10, 20) #random integer  between [10,20]

13

In [360]:
random.uniform (-3.5, 60) #random float between -3.5 and 60

21.69707525805782

In [379]:
#create list
fruit = ['apples', 'oranges', 'pears']
random.choice(fruit)

'apples'

In [381]:
import random

In [386]:
random.seed (55)
print(random.random())
print(random.random())

0.09033985426934954
0.9506335645634441

Computers can generate random numbers but they need a starting point. if you reresh the above code it will continually give the same answer because the calculation is set.

### Practice exercises

In [364]:
1+3*2-5+4

6

In [167]:
1+3*(2-5)+4

-4

In [169]:
5**2**2*3+1

1876

In [171]:
5**(2**2)*3+1

1876

In [172]:
1+3/2

2.5

In [173]:
1+3.0/2

2.5

In [174]:
-2-1

-3

In [175]:
-(2-1)

-1

In [176]:
3.0+3/2

4.5

In [177]:
3+3/2.0

4.5

In [179]:
import cmath

In [180]:
-1**0.5

-1.0

In [183]:
cmath.sqrt(-1)

1j

In [184]:
math.sqrt(-1)

ValueError: math domain error

In [185]:
10**5

100000

In [186]:
math.sqrt(10)

3.1622776601683795

SyntaxError: invalid syntax (Temp/ipykernel_10552/571611346.py, line 1)

In [191]:
a = 1 
b = -7
c = 10
dis = (b**2)-4*a*c
ans1 = (-b-cmath.sqrt(dis))/(2*a)
ans2 = (-b+cmath.sqrt(dis))/(2*a)
print('The roots are')
print(ans1)
print(ans2)

The roots are
(2+0j)
(5+0j)

In [193]:
r=5.5
area = pi*r**2
print(area)

95.0330975

In [195]:
math.sin(2.5)

0.5984721441039564

In [196]:
#complex roots were already given above^^^

In [198]:
math.factorial(4)

24

In [200]:
math.factorial(128)- math.factorial(32)

385620482362580421735677065923463640617493109590223590278828403276373402575165543560686168588507361534030051833058916347592172932262498857766114955245039357760034644709279247692495322149163066306469832781987840000000

In [201]:
math.factorial(17)-math.factorial(3)

355687428095994

In [208]:
bin(9)

'0b1001'

In [211]:
bin(4)

'0b100'

In [214]:
bin(12)

'0b1100'

In [220]:
bin(31)

'0b11111'

In [224]:
bin(255)

'0b11111111'

In [231]:
#from 01001 
bin(9) 
#-9

'0b1001'

In [230]:
#from 100
bin(4)

'0b100'

In [233]:
#from  01100
bin(12)

'0b1100'

In [234]:
#from 11111
bin(31)

'0b11111'

In [235]:
#from 11111111
bin(-1)

'-0b1'

A car runs at a constant speed of 20 km/h. When it passes another case, the
latter starts to accelerate in order to catch up. Assuming that the first case
keeps a constant speed, and the second car keeps a constant acceleration of
2 m/s2. After how many seconds will the second car catch up with the first
one?

SyntaxError: invalid syntax (Temp/ipykernel_10552/1358265906.py, line 5)

The annual interest rate of a savings account is 4.1 %. John has $10,000 in
his account, and aims at saving 50,000 within 5 years by depositing a fixed
amount of money to his account in the beginning of each year, including
this year. How much money does John need to save each year in order to
achieve his goal?

In [298]:
(30899.35*(1.041**5))+(10000*(1.041**5))

50000.00566189758

In a shooting exercise, a coach stands 5 m away from a trainee, and throws
a target up vertically at 5 m/s. If the trainee must fire her gun exactly 0.5 s
after the throwing of the ball, then at which angle should she aim? If she
must fire the gun exactly 1 s after the throwing, then at which angle should
she aim?

John deposited an initial sum of 3000 in his account. After 3 years, the
balance reaches $3335.8 due to composite interest. What is the interest rate
per annual?

In [303]:
x=(3335.8/3000)**(1/3)
x

1.0359995892195035

The three sides of a triangle are 3, 4 and 6m, respectively. What is its area?

In [318]:
a = 3
b = 4
c = 6
s = (a+b+c)/2
a = (s*(s-a)*(s-b)*(s-c))**.5
a

5.332682251925386

What are the three most important properties of a Python object? Which of them
can change after the object is constructed, if the object is a number?

1. their values can be rewritten
1. they are recorded in a binding table
1. they have a type associated with them

State the main differences between identifiers and literals. Given a token in a
program, how does Python know whether it is an identifier or a literal?

Identifiers are recorded in the binding table, literals represent themselves.

In [334]:
#hypotenuse
a=2
b=4
h=math.sqrt(a**2+b**2)
print(h)

4.47213595499958

In [335]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

### User interface
Values entered are always of a string type even if they are numerical. So math functions will not work.

In [350]:
number1 = input ('Enter a number ')
print('Your number is ', number1)

Enter a number 5
Your number is  5

You can convert the string into a different type.

In [351]:
variable = int(number1)
print(variable)

5

In [352]:
type(variable)

int

In [347]:
first = input ('first number ')
second = input('second number ')

first number 5
second number 6

In [353]:
a = int(first)
b = int(second)

In [354]:
a+b

11

In [355]:
a-b

-1

In [356]:
a**b

15625

### Strings
Memory associated with characters and their order. Created through single, doubel and tripple quotation marks in the case of multiple lines. Special characters (escaped characters) can be written in with a \ like \n for a line break. A \\ represents the character '\' to avoid confusion.

In [388]:
string_1 = "hello data scientist"
string_2 = 'hello data scientist'
string_3 = "" #empty string
multiple_lines  = """example 3 divide a long string into
two or 
more lines"""

In [390]:
print(string_1)

hello data scientist

In [392]:
print(string_2)

hello data scientist

In [399]:
print(multiple_lines)

example 3 divide a long string into
two or
more lines

In [400]:
multiple_lines #display is different to print

'example 3 divide a long string into\ntwo or \nmore lines'

In [396]:
print(string_3)

In [398]:
type(string_1)

str

In [406]:
print('introduce\ttab\twith\tbackslasht')

introduce	tab	with	backslasht

In [409]:
print('isn't')

SyntaxError: invalid syntax (Temp/ipykernel_10552/4269961046.py, line 1)

In [413]:
print("isn't")

isn't

In [415]:
print('isn\'t')

isn't

In [417]:
string_1+string_2

'hello data scientisthello data scientist'

In [421]:
phrase = string_1
phrase*3

'hello data scientisthello data scientisthello data scientist'

In [423]:
len(phrase) #no. of characters

20

In [428]:
name = input("enter your name:")
print( "your name is", name)

enter your name:Dylan
your name is Dylan

In [432]:
string = 'My string is jupyter'
string.upper()

'MY STRING IS JUPYTER'

In [434]:
string.lower()

'my string is jupyter'

In [437]:
string.replace('string', 'program')

'My program is jupyter'

In [439]:
str. #press tab to see list

SyntaxError: invalid syntax (Temp/ipykernel_10552/357506535.py, line 1)

In [447]:
str_no = "nooooooooooooooooooo!"
print('how many o\'s does string_no have? ', str_no.count('o'))

how many o's does string_no have?  19

In [452]:
str1 = 'yy2'
str2 = 'yyy'
print('str1 contains only letters: ',str1.isalpha())
print('str2 contains only letters: ',str2.isalpha())

str1 contains only letters:  False
str2 contains only letters:  True

Python indexes characters to an order.

In [458]:
test = "hello world, this is me, life could be, fun for everyone"
print(test[7])
#or do the opposite
print("position of first instance of f", test.index('f'))

o
position of first instance of f 27

In [462]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [465]:
test.isprintable()

True

In [476]:
test.swapcase()

'HELLO WORLD, THIS IS ME, LIFE COULD BE, FUN FOR EVERYONE'

In [479]:
test.isdigit()

False

In [507]:
print(test.strip())

hello world, this is me, life could be, fun for everyone

### String Slicing
1. start - starting index
1. stop - ending index value
1. step - integer that indicates the increments of slicing

the getitem operator
getslice operation
String formatiing patterns exist. the patter is written at the start with %pattern%. %xd% the d means an integer is present in the string and x tells you how many characters there will be. %xyf, x is the size of the string,y is the number of decimal polaces you want, f indicates a float is in the string

In [542]:
print(ord('a'))
print(ord('b'))
print(ord('c')) #the number encoding that character, how it is stored in memory.

97
98
99

In [545]:
print(chr(97))
print(chr(98))
print(chr(99))

a
b
c

In [499]:
print(len(test))
print(test[0:5])
print(test[-20:-1])
print(test[::-1])
print(test[:])

56
hello
be, fun for everyon
enoyreve rof nuf ,eb dluoc efil ,em si siht ,dlrow olleh
hello world, this is me, life could be, fun for everyone

In [506]:
alphabet ='abcdefghijklmnopqrstuvwxyz'
print(alphabet[0:5])
print(alphabet[6:15])
print(alphabet[0:21])
print(alphabet[::2])
print(alphabet[::4])
print(alphabet[::-1])

abcde
ghijklmno
abcdefghijklmnopqrstu
acegikmoqsuwy
aeimquy
zyxwvutsrqponmlkjihgfedcba

### Date and Time
date, time and datetime.
Timestamps measure seconds since a specific time.

In [510]:
import datetime

In [527]:
now = datetime.datetime(2020,12, 15, 12, 54)
print(now)
date = datetime.date(2020,12,15)
print(date)
time = datetime.time(12,56)
print(time)

#or
print(datetime.datetime.now())
today = datetime.datetime.today()
print('day ', today.day)

2020-12-15 12:54:00
2020-12-15
12:56:00
2021-12-15 00:59:50.473236
day  15

In [531]:
print(now.strftime("%B"))

December

In [539]:
print(today)
print("year", today.strftime("%Y"))
print("month",today.strftime("%B"))
print("month", today.strftime("%m"))
print("day",today.strftime("%A"))

2021-12-15 00:59:50.473237
year 2021
month December
month 12
day Wednesday

In [553]:
print ("Savinfs calculator")
rate = float(input("please enter the interest rate"))
years = int(input("Please input the number of years"))
init = float(input("Please inpout the initial amount"))
final = init*(1+(rate/100))**years
print("After %d years, the savings will be $%.2f" % (years , final))

Savinfs calculator
please enter the interest rate15
Please input the number of years5
Please inpout the initial amount10000
After 5 years , the savings will be $20113.57

### Python programs
A program is made up of statements, made from expressions, which are made from objects, literals, and identifiers.

# Week Two
### Logical expressions
Sequential control flows enable static code to be placed in a coherent sequence of commands. Branching offers choice like "would you like to save before exitting? yes/No". Looping offers repetition of static code, like playing a playlist.

Flow charts can be used to demonstrate code flows. arrows indicate execution sequence, nodes are statements of junctions (binary branching node).

### The Boolean type
Boolean literals are 'TRUE' and FALSE'. 
There are three operators
'and', 'or' and 'not'

### Numerical comparissons 
Take integers and create boolean outputs with ==, <=, >=, !=, <, and >. These boolean operators take a higher precedence than and, or and not.

'in' and 'not in' can be used to see if a string contains a substring.

'is' is not' can be used to see if identifiers of an object are the same.

In [18]:
a = True
b = True
c = False 
type(a)

bool

In [19]:
type(b)

bool

In [20]:
type(c)

bool

In [21]:
a and c

False

In [22]:
a or c

True

In [23]:
not a

False

In [25]:
not c

True

In [26]:
a and not b # 'not b' acts first

False

In [27]:
c and b or a #'cand b' acts first

True

In [29]:
c and (b or a) #brackets first

False

In [33]:
a and b or b and c # 'a and b' and 'b and c' before the 'or'

True

In [35]:
1==2 # is equal

False

In [39]:
1!=2 #is not equal

True

In [41]:
3>5 #more than

False

In [43]:
3<5 #less than

True

In [44]:
3<=5 #less than or equal to

True

In [45]:
x = 2
y = 3
z = 5
x > y and y > z

False

In [47]:
x > y or y > z

False

In [49]:
y>x and z > y or y > z and z > x

True

In [52]:
s1 = "Hello world, My name is Dylan"
s2 = "name"
s3 = "Hello world"
s2 in s1

True

In [53]:
s3 not in s2

True

In [55]:
s3 in s1

True

In [56]:
s1 in s3

False

In [57]:
a = 123 #smaller numbers are cached
b = 123
print(id(a))
print(id(b))

1732747810992
1732747810992

In [58]:
a is b

True

In [60]:
a is not b

False

In [62]:
a = 12345 #not cached
b = 12345
print(id(a))
print(id(b))

1732825033776
1732825034384

In [64]:
a is b

False

### Boolean conversions
if equal to or less than 0, the value is False.
if more than zero, is True.
If ''(empty) then False.
if 'not empty', the True.
True = 1
False = 0

### If - then statements
**If** the condition is found to be True, **then** it will evluate the following statement.
Indentation matters, the indentatiton signals that the the **then** statement is part of the **if** statement. This principal is essential for control flow as it elects which branch to follow. 

stepping over and stepping into the code are debugging methods that initiate the code step by step.

### If - else statements
**If** will execute the **then** statement when True, but adding an **else** statement will execute another **then** statement when the condition is False. 
The If and Else statments need to be on the same column, but the then and else statements need to have the same indentation to be read properly.

In [65]:
if condition1:
    statenment to do if condition is true # 4 space indeentation
elif conditon2: #remember the colon
    statement to do if previous statement is not true but condition 2 is true
elif condition3:
    statment to do if prior two are False but this one is true
else:
    statment to do if none of the previous

SyntaxError: invalid syntax (Temp/ipykernel_12940/3121242026.py, line 2)

In [79]:
person_age1 = 16
person_age2 = 12

if person_age1 >= 14:
    print("person is employable")

person_age1 is employable

In [619]:
person_age1 = 16
person_age2 = 12
if person_age2 >= 14:
    print("person is employable") 
else:
     print ("person not employable")

person not employable

In [89]:
age = int(input( "What is your age? "))
retired = False

if not retired:
    if age >= 14:
        if age >= 16:
            print("Person is employable")
        else:
            print("employable as a junior")
    else:
        print("person is too young or retired")
else:
    print("Person is not employable ")

What is your age? 24
Person is employable

In [620]:
age = int(input( "What is your age? "))
retired = False

if not (retired) and (age>=14):
    if age < 16:
            print("Person is employable as a junior")
    else:
            print("Person is employable")
else:
        print("person is too young or retired")

What is your age? 16
Person is employable

In [106]:
#Practice 2.1
month = int(input("what month is it? (numerical)"))

if month == 12:
    print("merry christmas")
else:
    print("happy new year")

what month is it? (numerical)24
happy new year

In [113]:
#Practice 2.2
month = int(input("what month is it numerically? "))

if month == 12:
    print("Merry christmas")
else:
    print("You'll have to wait for christmas then!")
print("Have a happy new year")

what month is it numerically? 12
Merry christmas
Have a happy new year

In [115]:
#Maximum of three numbers with nested if statements
x= int(input("first number "))
y= int(input("second number "))
z= int(input("third number "))

if y>x:
    if z>y:
        print("z")
    else:
        print("y")
else:
    if z>x:
        print("z")
    else:
        print("x")
print("done.")

first number 23
second number 33
third number 43
z
done.

In [143]:
#Practice 2.4 -Perfect triengle 
short = int(input("enter the shortest side length"))
middle =int(input("enter the medium side length"))
long = int(input("enter the Longest side length"))

if (short%3 == 0) and (middle%4 == 0) and (long%5 ==0):
    print("It is a perfect triangle")
else:
    print("it is not a perfect triangle")

enter the shortest side length3
enter the medium side length4
enter the Longest side length5
It is a perfect triangle

### If- elif statments
save space and let you select through a list of conditions and then statements quickly and neatly.
See below

In [145]:
#if - else style

x = int(input("x"))
y = int(input("y"))
print("1. add")
print("2. subtract")
print("3. multiply")
print("4. divide")

choice = int(input("select choice"))
print("the answer is:", end ="")

if choice == 1:
    print(x+y)
else: 
    if choice ==2:
        print(x-y)
    else:
        if choice == 3:
            print(x*y)
        else:
            if choice == 4:
                print(x/y)
            else:
                    print("Please enter valid choice") #with enough choices, the steps will run off the page to the right

x1
y2
1. add
2. subtract
3. multiply
4. divide
select choice2
the answer is:-1

In [147]:
# If -elif statment
#if - else style

x = int(input("x"))
y = int(input("y"))
print("1. add")
print("2. subtract")
print("3. multiply")
print("4. divide")

choice = int(input("select choice"))
print("the answer is:", end ="")
if choice == 1:
    print(x+y)
elif choice == 2:
    print(x-y)
elif choice == 3:
    print(X*y)
elif choice == 4:
    print(x/y)
else:
    print( "invalid choice") #Much cleaner

x1
y2
1. add
2. subtract
3. multiply
4. divide
select choice4
the answer is:0.5

In [150]:
month = int(input("input numerical month value"))

if month == 1:
    print("Hello summer")
elif month == 2:
    print("Little less summer now")
elif month == 3:
    print("bye summer")
elif month == 4:
    print("Could probably play golf still")
elif month == 5:
    print("is it getting chilly out yet?")
elif month == 6:
    print("End of financial year sales!")
elif month == 7:
    print("Happy fourth of july America")
elif month == 8:
    print("I really hope you're not wasting your time on a golf course")
elif month == 9:
    print("bit blowy out there")
elif month == 10:
    print("Cheer up, summers almost here")
elif month == 11:
    print("Can you feel it yet?")
elif month == 12:
    print("ahh lovely")
else:
    print("invlaid. try again")

input numerical month value1
Hello summer

In [160]:
#Practice 2.5 - Presidential candidate 
citizen = int(input("How many years have you been a citizen of the United states of America?"))
age = int(input("What is your age?"))
resident = int(input("How many years have you been a resident of the united states of America counting back from now?"))

              
if citizen > 0:
    if age >= 35:
        if resident >= 14:
            print( "Welcome aboard")
        else: 
            print("Nope.")
    else: 
            print("Nope.")
else: 
            print("Nope.")

How many years have you been a citizen of the United states of America?1
What is your age?2
How many years have you been a resident of the united states of America counting back from now?1
Nope.

### Short circuit logic
Python will execute a command from left to right until it cannot confirm the truth of a component.

In [162]:
#Practice 2.6 - Fishing in Minnesota 
age = int(input("How old are you?"))
permit = input("You got a permit for that rod bro? y/n")
parent = input("Do your parent's have a lisence? y/n")

if age <=15 and parent == "y":
    print("Hope you catch a big one")
elif age>=16 and permit == "y":
    print("Hope you catch a big one")
else:
    print("No fish fingers tonight pal")

How old are you?15
You got a permit for that rod bro? y/nn
Do your parent's have a lisence? y/ny
Hope you catch a big one

In [166]:
#Fifa world cup semifinal example attemopt

game1 = input("Did the team win their first game? Y/N")
game2 = input("did the team win their secound game? Y/N")

if game1 == "Y":
    if game2 == "Y":
        print("First place")
    else:
        print("secound place")
else:
    if game2 == "Y":
        print("Third place")
    else:
        print("Fourth place")

Did the team win their first game? Y/NN
did the team win their secound game? Y/NY
Third place

In [171]:
i = 0
while i < 9:
    print(i)
    i+=1 # without this line it just produces 0 with each iteration

0
1
2
3
4
5
6
7
8

In [185]:
#Random letter
import random
string = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
command = input("generatre random letter? Y/N")
while command == "Y":
    i = random.randint(0, 26)
    print(string[i])
    command = input("generatre random letter? Y/N")
print("Bye")

generatre random letter? Y/NY
Z
generatre random letter? Y/NY
H
generatre random letter? Y/NY
Z
generatre random letter? Y/NN
Bye

In [184]:
#Pension question
age = int(input("What is your age?"))

if age > 65:
    print("Qualifies for pension")
else:
    print("Doesn not qualify for pension")

What is your age?67
Qualifies for pension

### Range()
Takes three values: the start (0 if not specified), end and increment (1 if not specified) by which to step by.

In [199]:
x = range(10)
print(x)

range(0, 10)

In [201]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [206]:
str1 = "Hello"
for s in str1:
    print(s)

H
e
l
l
o

### For Loop

In [28]:
# to print a range one subject at a time
for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
str1 = "Hello world"
for s in str1:
    print(s)

H
e
l
l
o

w
o
r
l
d

In [33]:
Fruits = ['apples', 'oranges', 'pears', 'lemons']

for fruit in Fruits:
    print(fruit, fruit.upper())

apples APPLES
oranges ORANGES
pears PEARS
lemons LEMONS

In [47]:
t=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
for i in t:
    if i>5:
        break
    print(i)

for i in t:
    if i<9:
        continue
    print(i)

1
2
3
4
5
9
10

In [49]:
t=(1, 2, 3)
for x in t:
    print(x)
else:
    print("done")

for x in t:
    print(x)
    break
else:
    print("done")

1
2
3
done
1

### While loops
There are loops that use "For" when you know how many times. But when the amount of times is unknonw, you can use while. It states that while the condition is true, compute the action. If no termination conditions are set, then it will be an infinite loop, or dead loop.

In [19]:
# will keep running the code until stop is written
str1 = input("enter a name : ")
while (str1 != "stop"):
    str1 = input("enter a name : ")
    print(str1)

enter a name : Dylan
enter a name : Chloe
Chloe
enter a name : Tara
Tara
enter a name : Sam
Sam
enter a name : stop
stop

In [24]:
str1 = input("enter a name : ")
while (str1 != "stop"):
    print(str1) # error without indentation here
    str1 = input("enter a name : ") #without indentation here, it would print Dylan forever

enter a name : Dylan
Dylan
enter a name : stop

In [74]:
#number guess
import random
print("is your number", random.randint(1,100), "?")
answer = "no"
while(answer == "no"):
    guess = random.randint(1,100)
    answer = input("is your number"+ str(guess) + "? ")

is your number 28 ?
is your number37? no
is your number81? no
is your number100? no
is your number48? yes

### Putting data together
lists are containers of data points. a list contain multiple types of data (strings, numerics, other lists). You can add lists with +, repeat lists with "*", check the length of a list with len, find something in a list with 'in' or do the opposite with 'not in'. 
When calling from a list, the first value is on 0, and the last is on n-1.
When copyign a list you have to set the lest again as seen below. Otherwise whatever happnes to the original follows on to the copy.

In [85]:
list = [1,2,3,4,5,6]
print(list)

[1, 2, 3, 4, 5, 6]

In [80]:
#sum the temps in a loop
temps = [22, 18, 20, 21, 23, 15, 17]
sum = 0
for temp in temps:
    sum = sum+temp

print(sum)

136

In [82]:
#element count
temps = [22, 18, 20, 21, 23, 15, 17]
len(temps)

7

In [120]:
seq1 = list(range(-10, 10,2))
lst = [seq1, 0.1, 0.2, 0.3, "hello world"]
print(lst)

[[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8], 0.1, 0.2, 0.3, 'hello world']

In [123]:
lst2 = [True, False, "hey", "there", 2,3]
print(lst2)

[True, False, 'hey', 'there', 2, 3]

In [126]:
lst3= [lst, lst2, 3,4,5]
print(lst3)

[[[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8], 0.1, 0.2, 0.3, 'hello world'], [True, False, 'hey', 'there', 2, 3], 3, 4, 5]

In [131]:
lst4 = lst + lst2
print(lst4)

[[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8], 0.1, 0.2, 0.3, 'hello world', True, False, 'hey', 'there', 2, 3]

In [136]:
l1= [1,2,3,4,5]
l2= ['a','b','c','d','e']
l3= l1 +l2
print(l3)
l4 = l1*5+l2*2
print(l4)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

In [143]:
numbers = ['zero',1,2,3,4]
numbers[0]
numbers[4]
print(numbers[0], "and", numbers[4])

zero and 4

In [146]:
print(numbers[0:3])
print(numbers[:3])
print(numbers[3:])
print(numbers[0:4:2])

['zero', 1, 2]
['zero', 1, 2]
[3, 4]
['zero', 2]

In [148]:
temps = [22,18,20,21,23,15,17]
sum = 0
for temp in temps:
    sum = sum+temp
else:
    print(round(sum/len(temps),2))

19.43

In [151]:
#assignment
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
num[0] = "reassign this at position zero"
print(num)

#incorporating string lists

['reassign this at position zero', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [155]:
string = "abc"
num[15:] =string #The : makes them appear individually
print(num)

['reassign this at position zero', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 'a', 'b', 'c']

In [158]:
original = [1,2,3]
copy = original
original[0] = "this wasn't supposed to be on list 2"
print(copy)

["this wasn't supposed to be on list 2", 2, 3]

In [165]:
original2 = [1,2,3]
copy = original2
copy2 = list(original2)
original[0] = "this wasn't supposed to be on list 2"
print(copy2)

[1, 2, 3]

In [170]:
original2 = [1,2,3]
original2.append("add on to end")
print(original2)

[1, 2, 3, 'add on to end']

In [172]:
original2 = [1,2,3]
original2.remove(2)
print(original2)

[1, 3]

In [174]:
original2 = [1,2,3]
original2.sort(reverse =True)
print(original2)

[3, 2, 1]

### list methods
1. clear - removes items
1. copy - return a shallow copy of the list. it will be uneffected by changes to the original list
1. count - counts the occurences of an item in the list
1. extend - adds list to the end
1. index - shows where something is placed on a list strating at position zero
1. mro - shows you the 'inheritance' path
1. pop - when empty shows you the population total for the list, when number assigned, tells you what is in that position in the list.
1. reverse - reverses the list order

In [251]:
numbers = [1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20]
numbers.clear()
print(numbers)

[]

In [185]:
numbers = [1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20]
print(numbers.copy())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [189]:
numbers = [1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20]
print(numbers.count(2))

1

In [218]:
fruit = ['apples', 'oranges', 'lemons', 'mango', 'passionfruit', 'blueberry', 'strawberry']
fruit.extend(['bannanas', 'apricots'])
print(fruit)

['apples', 'oranges', 'lemons', 'mango', 'passionfruit', 'blueberry', 'strawberry', 'bannanas', 'apricots']

In [227]:
numbers = [1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20]
print(numbers.index(1))

0

In [259]:
class A:
    def rk(self):
        print(" In class A")
class B:
    def rk(self):
        print(" In class B")
  
# classes ordering
class C(A, B):
    def __init__(self):
        print("Constructor C")
r = C()
print(C.mro())

Constructor C
[<class '__main__.C'>, <class '__main__.A'>, <class '__main__.B'>, <class 'object'>]

In [242]:
numbers = [1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20]
print(numbers.pop())

20

In [260]:
fruit = ['apples', 'oranges', 'lemons', 'mango', 'passionfruit', 'blueberry', 'strawberry']
fruit.reverse()
print(fruit)

['strawberry', 'blueberry', 'passionfruit', 'mango', 'lemons', 'oranges', 'apples']

In [300]:
listThings = ['banana', 'apple', 'apple', 3, 10, 78, 5.5, 'apple', list(range(200,205)), 'apple', 'apple', 10.5]
appleList = [ ]
listThings.count('apple')

while listThings.count('apple')>1:
    listThings.remove('apple')
    print(listThings)
    appleList.append('apple')
    print(appleList)

if listThings.count('apple')==1:
    appleList.append('apple')
    print(listThings,
          appleList)

['banana', 'apple', 3, 10, 78, 5.5, 'apple', [200, 201, 202, 203, 204], 'apple', 'apple', 10.5]
['apple']
['banana', 3, 10, 78, 5.5, 'apple', [200, 201, 202, 203, 204], 'apple', 'apple', 10.5]
['apple', 'apple']
['banana', 3, 10, 78, 5.5, [200, 201, 202, 203, 204], 'apple', 'apple', 10.5]
['apple', 'apple', 'apple']
['banana', 3, 10, 78, 5.5, [200, 201, 202, 203, 204], 'apple', 10.5]
['apple', 'apple', 'apple', 'apple']
['banana', 3, 10, 78, 5.5, [200, 201, 202, 203, 204], 'apple', 10.5] ['apple', 'apple', 'apple', 'apple', 'apple']

### Tuples
Tuples are like lists, except they are 'immutable' or unchangeable once made. Used when you don't expect your data to change, such as a list of country names. They are made using parantheses instead of scquare brackets.

## Week 3
### Dictionaries
An alternative container type to lists, they allow you to look up data using a key (or a subject). They are an soociative container, not a sequential container as lists are. Seems to be more tibble like in nature. The keys must be immutable (unchanging) so lists cannot be used, but bool, float, string, or integers are fine to use. To create keys:

In [302]:
attribute_age = {"John":52, "Sam":21, "Mike":18}

or

In [304]:
attribute = dict(John = 52, Sam = 21, Mike = 18)

In [309]:
capital_cities = dict(Vic = 'Melb', 
                      SA = 'Adelaide', 
                      WA = 'Perth', 
                      CA = 'Alice Springs', 
                      NSW = 'Sydney', 
                      ACT = 'Canberra', 
                      NT = 'Darwin', 
                      QL = 'Brisbane', 
                      TAS = 'Hobart')
print(capital_cities)

{'Vic': 'Melb', 'SA': 'Adelaide', 'WA': 'Perth', 'CA': 'Alice Springs', 'NSW': 'Sydney', 'ACT': 'Canberra', 'NT': 'Darwin', 'QL': 'Brisbane', 'TAS': 'Hobart'}

In [317]:
#empty dictionary
new_dictionary = dict()

#add enteries
new_dictionary['entery1'] = "first entery"
new_dictionary['entery2'] = "second entery"

#string representation of dictionary with repr()
print('new dictionary:' + repr(new_dictionary))

new dictionary:{'entery1': 'first entery', 'entery2': 'second entery'}

In [321]:
# Length of the dictionary with len()
print("new dictionary has " + str(len(new_dictionary))+" key:value pairs")

new dictionary has 2 key:value pairs

In [333]:
#copy() makes a copy of the dictionary
copy_dictionary = new_dictionary.copy()
print(copy_dictionary)

{'entery1': 'first entery', 'entery2': 'second entery'}

In [329]:
#difference between == and is
print("copies are equivalent?", new_dictionary == copy_dictionary) #== and != check for key:value pairs
print("are the two dictionaries the same dictionary?", new_dictionary is copy_dictionary) #checks origins

copies are equivalent? True
are the two dictionaries the same dictionary? False

In [334]:
#removing elements from the list
# pop() removes and prints the value
sec_entry = copy_dictionary.pop('entery2')
print(sec_entry)
print(copy_dictionary)

second entery
{'entery1': 'first entery'}

In [340]:
# del() removes the key without returning the value
del copy_dictionary['entery1']

In [343]:
print(copy_dictionary)
print(new_dictionary)

{}
{'entery1': 'first entery', 'entery2': 'second entery'}

In [345]:
#empty a dictionary with clear()
print(new_dictionary.clear())

None

In [356]:
magic_number = dict(one = 3, two = 3, three = 5, four= 4, five = 4, six = 3, seven = 5, eight = 5, nine = 4, ten = 3, no = 5)
print(magic_number)
print("Number of key:value pairs is " + str(len(magic_number)))
magic_number['no'] = 'no'
print(magic_number)
del magic_number['no']
print(magic_number)
print(magic_number.clear())

{'one': 3, 'two': 3, 'three': 5, 'four': 4, 'five': 4, 'six': 3, 'seven': 5, 'eight': 5, 'nine': 4, 'ten': 3, 'no': 5}
Number of key:value pairs is 11
{'one': 3, 'two': 3, 'three': 5, 'four': 4, 'five': 4, 'six': 3, 'seven': 5, 'eight': 5, 'nine': 4, 'ten': 3, 'no': 'no'}
{'one': 3, 'two': 3, 'three': 5, 'four': 4, 'five': 4, 'six': 3, 'seven': 5, 'eight': 5, 'nine': 4, 'ten': 3}
None

In [372]:
test = dict(Dylan = "bf", Chloe = "gf")
# del test['Fen'] leads to an error
if "Fen" in test:
    print("Fen is in the dictionary")
    del test['Fen']
else:
    print("Fen isn't here")

Fen isn't here

In [373]:
print(test)
# print key:vales with items()
for k, v in test.items():
    print(k, ":", v)
print()

#print keys only with keys()
for k in test.keys():
    print(k)
print()

#print values only with values()
for v in test.values():
    print(v)
print()

{'Dylan': 'bf', 'Chloe': 'gf'}
Dylan : bf
Chloe : gf

Dylan
Chloe

bf
gf

In [374]:
#to update a list you make the chang to the key

for k in test.keys():
    test[k]= "best " + test[k] 
print(test)

{'Dylan': 'best bf', 'Chloe': 'best gf'}

In [387]:
Melb = dict(avg_rain = '1', avg_temp = 'a')
Adelaide = dict(avg_rain = '2', avg_temp = 'b')
Perth = dict(avg_rain = '3', avg_temp = 'c')
Alice_Springs = dict(avg_rain = '4', avg_temp = 'd')
Sydney = dict(avg_rain = '5', avg_temp = 'e')
Canberra = dict(avg_rain = '6', avg_temp = 'f')
Darwin = dict(avg_rain = '7', avg_temp = 'g')
Brisbane = dict(avg_rain = '8', avg_temp = 'h')
Hobart = dict(avg_rain = '9', avg_temp = 'i')
capital_cities = dict(Vic = Melb, 
                      SA = Adelaide, 
                      WA = Perth, 
                      CA = Alice_Springs, 
                      NSW = Sydney, 
                      ACT = Canberra, 
                      NT = Darwin, 
                      QL = Brisbane, 
                      TAS = Hobart)
print(capital_cities)
print("\n")
for k,v in capital_cities.items():
    print(k, ":", v)
print()

{'Vic': {'avg_rain': '1', 'avg_temp': 'a'}, 'SA': {'avg_rain': '2', 'avg_temp': 'b'}, 'WA': {'avg_rain': '3', 'avg_temp': 'c'}, 'CA': {'avg_rain': '4', 'avg_temp': 'd'}, 'NSW': {'avg_rain': '5', 'avg_temp': 'e'}, 'ACT': {'avg_rain': '6', 'avg_temp': 'f'}, 'NT': {'avg_rain': '7', 'avg_temp': 'g'}, 'QL': {'avg_rain': '8', 'avg_temp': 'h'}, 'TAS': {'avg_rain': '9', 'avg_temp': 'i'}}


Vic : {'avg_rain': '1', 'avg_temp': 'a'}
SA : {'avg_rain': '2', 'avg_temp': 'b'}
WA : {'avg_rain': '3', 'avg_temp': 'c'}
CA : {'avg_rain': '4', 'avg_temp': 'd'}
NSW : {'avg_rain': '5', 'avg_temp': 'e'}
ACT : {'avg_rain': '6', 'avg_temp': 'f'}
NT : {'avg_rain': '7', 'avg_temp': 'g'}
QL : {'avg_rain': '8', 'avg_temp': 'h'}
TAS : {'avg_rain': '9', 'avg_temp': 'i'}

### Reading files
So far we can create variables, and create input data, but you can also take data from other sources.
The formats data files usually take are in binary or text.
When its in binary, you want to convert the file into a text file. But you need to understand its format.
For example, CSVs are comma sepereated values, meaning we know a comma seperates the values. 
to open files:

In [398]:
data = open('customer-1.csv')    #Must be in the same directory file, otherwise need to give full directory address

In [399]:
#for lists
import csv 
reader = csv.reader(data)

for row in reader:
    print(row)

data.close()

['name', 'age', 'postcode']
['John', '52', '5002']
['Ye', '18', '3005']
['Siobhan', '34', '2356']

In [639]:
#safer way, if there is an error in reading or writing, python will automatically close the file
import csv

with open('customer-1.csv') as data:
    reader = csv.reader(data)
    for row in reader:
        print(row)

['name', 'age', 'postcode']
['John', '52', '5002']
['Ye', '18', '3005']
['Siobhan', '34', '2356']

In [405]:
#For dictionaries
import csv

with open('customer-1.csv') as data:
    dreader = csv.DictReader(data)
    for row in dreader:
        print(row)

{'name': 'John', 'age': '52', 'postcode': '5002'}
{'name': 'Ye', 'age': '18', 'postcode': '3005'}
{'name': 'Siobhan', 'age': '34', 'postcode': '2356'}

In [409]:
# to remove the weird characters that are about encoding:
#google the encoding type and place that in the open()
import csv

with open('customer-1.csv', encoding = 'utf-8-sig') as data:
    dreader = csv.DictReader(data)
    for row in dreader:
        print(row)

{'name': 'John', 'age': '52', 'postcode': '5002'}
{'name': 'Ye', 'age': '18', 'postcode': '3005'}
{'name': 'Siobhan', 'age': '34', 'postcode': '2356'}

In [428]:
import csv

data= []

with open('practice.csv') as datafile:
    dreader = csv.DictReader(datafile)
    for row in dreader:
        data.append(row)
        
for element in data:
    for value in element.values():
        print(value)

Dylan
male
24
Tara
female
23
Patrick
male
21
Shae
female
20

In [634]:
# writing csv files from lists
import csv

data = [['name','age','postcode'],
['John', 52, 5002],
['Ye', 18, 3005],
['Siobhan', 34, 2356]]

with open('writing_file.csv', 'w') as file:
    writer = csv.writer(file)
    writer.writerows(data)

# writing csv files from dictionaries
import csv

data = [{'name':'John', 'age':52, 'postcode':5002},
        {'name':'Ye','age':18, 'postcode':3005},
        {'name':'Siobhan', 'age':34, 'postcode':2356}
       ]

header = ['name','age','postcode']

with open('dict_file.csv','w') as file:
    # note when you create the DictWriter, you need to give the headers
    writer = csv.DictWriter(file,header)
    
    # with DictWriter you need to write the headers first and then write the rows
    writer.writeheader()
    for dictionary in data:
        writer.writerow(dictionary)

### Creating a function

The benefit of functions is it enables you to reduce mistakes. If a msitake is made, fix the code once and re run  and it will be fixed in all occurrences. It also makes code easier to read.

Considerations:
1. simple but descriptive name
1. what arguments to pass to the function
1. its purpose
1. what the function will return

In [434]:
def function_name(paramater1, paramater2, ...., default = "whatever the default is"):   #code to run
    #If multiple paramaters use * or ** for lists and directories respectively

SyntaxError: invalid syntax (Temp/ipykernel_7616/2093512811.py, line 1)

In [442]:
def max_value(num1, num2):
    if num1 > num2:
        return num1
    return num2

In [444]:
print(max_value(1,2))
print(max_value(2,1))

2
2

In [446]:
def min_value(num1, num2):
    if num1 < num2:
        return num1
    return num2

In [448]:
print(min_value(1,2))
print(min_value(2,1))

1
1

In [469]:
def quadratic(a,b,c,x):
    return(a*(x)**2+(b)*x+c)

In [471]:
quadratic(2,-1,2,1)

3

In [514]:
def explode(s):
    characters=[]
    for t in s:
        characters.append(t)
    return(characters)
print(explode("hello"))

['h', 'e', 'l', 'l', 'o']

In [526]:
testlist = ['h', 'e', 'l', 'l', 'o']

In [530]:
def implode(lst):
    s = ""
    for t in lst:
        s = s + t
    return(s)
print(implode(testlist))

hello

### Scope
LEGB
1. local scope - anything indented within the body of the function
1. Enclosing scope - variables defined outside the function. Not usually included because the can vary. Always overrided by local scope (parameters)
1. Global scope - no local copy exists that can be used.
1. built-in scope - built in variables and functions that are intrinsic in python.

In [587]:
def evenlyDivides(x,y):
    dividesIt =False
    if y % x == 0:
        dividesIt =True
    return(dividesIt)
    x=int(input("Please enter an integer:"))
    y=int(input("Please enter another integer:"))
    if evenlyDivides(x,y):
        print(x,"evenly divides",y)
    else:
            print(x,"does not evenly divide",y)

In [590]:
def evenlydivideslist(x, lst):
    for e in lst:
        if not evenlyDivides(x, e):
            return(False)
    return(True)
        
lst = [2,4,6,15,10]
evenlydivideslist(2,lst)

False

In [608]:
values = [67, 88, 99, 120]

if units == mg/dL and value <=125 and value >=61 or units == mmol/L and value <= 125/18 and value >= 61/18
if value in values >= 61 and values <= 125:
    print("True")
else:
    print("false")

SyntaxError: invalid character '' (U+2018) (Temp/ipykernel_7616/1875209225.py, line 3)

In [622]:
week2 = "73 mg/dL"
(num, space, unit) = week2.partition(' ')
number = int(num)
print(number)

73

In [633]:
def double (num1):
    return(num1*2)
    
num1 = 7
num2 = double(num1)
print (num1,  num2)

7 14